# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Data
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep

# Model checkpoints
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# Environment / credentials
.env
venv/
tempCodeRunnerFile.py

# Operating System files
.DS_STORE
.DS_Store

# Visual Studio Code settings
.vscode/
